/*Importing poppins font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*changing default style*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

/* permanent style for anchor tag */
a {
  text-decoration: none;
}

/* css Variables*/
:root {
  --orange: #ff6600;
  --white: #ffffff;
  --black: #202020;
  --original-black: #000;
  --gray: #393b36;
  --grey: #eee;
}

/* for orange text color */
.orange-text {
  color: var(--orange);
}

/*style for smooth scroll*/
html {
  scroll-behavior: smooth;
}

/* Style for loading page */
.Loading-banner {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100vh;
  background-image: url(../Assets/background_image/CAR\ SERVICING\ AND\ REPAIR\ white\ desktop.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: var(--original-black);
  transition: all 1s ease-in-out;
  z-index: 999;
}
/* after Loading animation */
.Loading-banner.fade {
  opacity: 0%;
  pointer-events: none;
}

/*style for progress bar*/
#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--orange);
  z-index: 10;
}

/* Style for header section/hero page */

/* style for header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.486)),
    url(..//Assets/background_image/web\ bg\ final.jpg);
  background-size: cover;
  height: 100vh;
}

/* style for navbar */
nav {
  /* max-height: 11vh; */
  display: flex;
  justify-content: space-between;
}

/* style for navbar brand section */
.nav-bar-brand-logo {
  width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 1.8rem;
}

/* style for navbar brand logo */
.nav-bar-brand-logo img {
  width: 100%;
}

/* style for navbar links */
.nav-bar-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.2rem 1.8rem;
}

/* style for anchor tag of navlinks */
.nav-bar-links a {
  padding: 0 0.5rem;
  font-size: 1.6em;
  font-weight: 600;
  color: var(--white);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.nav-bar-links a:hover {
  color: var(--orange);
}
.nav-bar-links a:last-child {
  padding-right: 0;
  color: var(--orange);
}

/* disabling hamburger menu */
.hamburger {
  display: none;
}

/*  style for header main page */
.hero-page-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* text styling */
.hero-page-main-text {
  font-size: 4.5em;
  font-weight: bold;
  color: var(--white);
  padding: 8rem 0 7rem 0;
}

/* button styling */
.hero-page-main-button a {
  padding: 5px 10px;
  border: 2px solid var(--white);
  color: var(--orange);
  font-weight: bold;
  font-size: 1.5rem;
  transition: all 0.3s ease-out;
  border-radius: 4px;
}
.hero-page-main-button a:hover {
  background-color: var(--orange);
  color: var(--black);
  border: transparent;
}

/* styling main */
main {
  background-color: var(--grey);
}

/* style for counter section */
.counter-section {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10rem;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--black);
  transition: all 0.1s ease-out;
}

/* Style for About Us Section */
.about-us-section {
  width: 90%;
  margin: 2.5rem auto;
  padding: 0 0;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 5rem;
}
.about-us-illustration {
  display: flex;
  align-items: center;
}
.about-us-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-us-illustration img {
  width: 65%;
  margin-top: 3rem;
  margin-left: 2.5rem;
}
.about-us-text-area h2 {
  padding: 1rem 0 1rem 0;
  font-weight: 700;
  font-size: 2rem;
}
.about-us-text-area p {
  font-weight: 700;
  font-size: 1.3rem;
}

/* how does it work */
/* How does it work section */
.how-does-it-work-section {
  width: 91%;
  margin: 2.5rem auto;
}
.how-does-it-work-section h2 {
  font-weight: 700;
  text-align: center;
  color: var(--orange);
  font-size: 2rem;
}

.section {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.section2 {
  width: 92%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.s_text {
  padding: 5px;
  width: 100%;
}
.s2_text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.s_img {
  padding: 5px;
}

/* style for faqs section */
.faqs {
  width: 85%;
  margin: 2.5rem auto;
}

.faqs > h2 {
  margin-bottom: 1rem;
}

.faqs h2 {
  font-weight: 700;
  text-align: center;
  color: var(--orange);
  font-size: 2rem;
}
.accordion_accordion-flush,
.accordion-header {
  border: none !important;
}
.accordion-button {
  color: var(--white);
  background-color: #222;
  outline: none;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.accordion-button:not(.collapsed) {
  background-color: rgb(0, 0, 0);
}

.accordion-button:not(.collapsed)::after {
  background-image: url();
  transform: rotate(-180deg);
}

.accordion-button:focus {
  z-index: 3;
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

#ab {
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}
#lab {
  border-bottom-left-radius: 15px !important;
  border-bottom-right-radius: 15px !important;
}

.accordion-item {
  background-color: transparent;
  border: transparent;
}

.accordion-button:not(.collapsed) {
  color: #eee;
}

.accordion-button::after {
  background-image: url(../Assets/icons/expand_more_white_24dp.svg);
}

.accordion-button:not(.collapsed)::after {
  background-image: url(../Assets/icons/expand_more_white_24dp.svg);
}

/* style for testimonial */
.Testimonail-section {
  width: 85%;
  margin: 2.5rem auto 0 auto;
  padding-bottom: 1.25rem;
}
.review {
  margin: 0 0.5rem;
  min-height: 170px;
  background-color: var(--black);
  border-radius: 10px;
  color: var(--white);
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
}
.review-text {
  padding: 0.5rem 0.5rem 0 0.5rem;
}
.review-text p {
  font-size: 75%;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0.5rem 0;
}
.review-text img {
  margin: auto;
}
.review-profile {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.review-profile p {
  margin: 0;
  padding: 0.5em;
}
.review-profile img {
  border-radius: 180px;
  padding: 0.5em;
}
.slick-dots {
  position: static;
}
.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/* style for footer */
footer {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 33.33% auto auto;
  padding: 1rem 0;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 90%;
}

.footer-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-contact-item {
  margin: auto;
}
.footer-contact-item div {
  margin: 1rem;
}

.footer-contact-item div img {
  margin-right: 1rem;
}

.footer-contact-item div a {
  font-size: 1rem;
  color: #9b9b9b;
}
.terms a {
  text-decoration: underline;
  padding-right: 1rem;
}

.footer-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialmedia img {
  margin: 0 0.8rem 0.7rem 0.3rem;
}

/* style for sub footer */
.sub-footer {
  background-color: var(--black);
  display: flex;
  color: var(--white);
  justify-content: flex-end;
  align-items: center;
}
.sub-footer p {
  margin: 0;
  margin-right: 0.5rem;
}
.sub-footer img {
  margin: 1rem;
  margin-left: 0;
}

/* Style for smaller screen / Mobile Screen */

@media screen and (max-width: 786px) {
  /* Style for loading page */
  .Loading-banner {
    background-image: url(..//Assets/background_image/loader.svg);
    background-size: 70%;
  }

  /* style for body while hamburger animation is open */
  body.open {
    overflow-y: hidden;
  }

  /* Style for header section/hero page */

  /* style for header */
  header {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.712),
        rgba(0, 0, 0, 0.712)
      ),
      url(..//Assets/background_image/bg-phone.jpeg);
    background-repeat: no-repeat;
  }

  /* style for navbar */

  /* style for navbar brand section */
  .nav-bar-brand-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 1rem;
  }

  /* style for navbar links */
  .nav-bar-links {
    position: absolute;
    height: 100vh;
    width: 100%;
    margin: 0;
    background-color: var(--black);
    flex-direction: column;
    /*style for hamburger animation*/
    clip-path: circle(100px at 95% -20%);
    -webkit-clip-path: circle(100px at 95% -20%);
    transition: all 1s ease-out;
    z-index: 10;
  }

  /* navbar animation */
  .nav-bar-links.open {
    clip-path: circle(1450px at 95% -20%);
    -webkit-clip-path: circle(1450px at 95% -20%);
  }

  /* style for anchor tag of navlinks */
  .nav-bar-links a {
    padding: 1.5rem 0rem;
    font-size: 1.6em;
    font-weight: 600;
    color: var(--white);
    opacity: 0%;
    transition: all 0.3s ease-in-out;
  }
  .nav-bar-links a.open {
    opacity: 100%;
  }

  /* disabling hamburger menu */
  .hamburger {
    display: block;
    margin: 1.2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }

  .hamburger .line {
    width: 30px;
    height: 3px;
    background-color: var(--orange);
    margin: 2.5px;
    border-radius: 10px;
    transition: all 0.5s ease;
  }

  /*style for hamburger animation*/
  .line.open0 {
    transform: translateY(8px) rotate(45deg);
  }
  .line.close {
    width: 0%;
    transition: all 0.2s ease;
  }
  .line.open1 {
    transform: translateY(-8px) rotate(-45deg);
  }

  /*  style for header main page */
  .hero-page-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* text styling */
  .hero-page-main-text {
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-right: 5rem;
    padding-bottom: 6rem;
  }

  /* styling for counter secrtion */
  .counter-section {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    grid-template-columns: auto auto 0;
    grid-template-areas:
      "header1 header2"
      "content content";
  }
  .counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    height: 5rem;
    font-weight: bolder;
    color: var(--black);
    transition: all 0.1s ease-out;
  }
  .counter p {
    margin-bottom: 0rem;
  }
  .counter:first-child {
    grid-area: header1;
  }
  .counter:nth-child(2) {
    grid-area: header2;
  }
  .counter:last-child {
    grid-area: content;
  }

  /* style for about us section */
  .about-us-section {
    width: 85%;
    height: 100%;
    padding: 0 0;
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 100% 0%;
    grid-template-areas:
      "header"
      "content";
  }
  .about-us-illustration {
    justify-content: center;
    grid-area: header;
  }
  .about-us-illustration img {
    width: 70%;
    margin: 0;
  }
  .about-us-text-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    grid-area: content;
    margin-top: 1.5rem;
  }
  .about-us-text-area h2 {
    padding-top: 0;
    text-align: center;
    font-size: 1.8rem;
  }
  .about-us-text-area p {
    font-size: 1.1rem;
    font-weight: 600;
  }

  /* how does it work section */
  .how-does-it-work-section {
    width: 85%;
    margin: 2.5rem auto;
  }
  .how-does-it-work-section h2 {
    text-align: center;
    color: var(--orange);
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
  }
  #s_text_btn {
    font-size: 1rem;
    line-height: 1;
  }
  .section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .section2 {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
  }
  .s_text {
    padding: 5px;
    width: 100%;
  }
  .s2_text {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .s_img {
    padding: 5px;
  }
  .s_img img {
    width: 100%;
  }
  .s2_img img {
    width: 100%;
  }

  /* style for faqs section */
  .faqs h2 {
    font-size: 1.8rem;
  }

  /* style for footer  */
  footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }

  footer section {
    margin: 1rem;
  }

  .footer-logo img {
    width: 80%;
  }

  .footer-contact-item div a {
    font-size: 0.8rem;
  }
  .footer-contact-item {
    padding-left: 3rem;
  }
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sub-footer {
    justify-content: center;
  }
}
